<div class="main-wrapper">
    <div class="container max-w-600 mar-b-4 bg-white rounded-lg shadow-sm p-5">
        <h4>Payment</h4>
        <hr>
        <div class="alert alert-success" *ngIf="showSuccess" role="alert">
            Payment successful!
          </div>

          <div class="alert alert-danger" *ngIf="showError" role="alert">
            Please try after some time!
          </div>

        <div [formGroup]="creditCardForm">
            <div class="form-group">
                <label for="username">Full name (on the card)</label>
                <input type="text" class="form-control" formControlName="cardHolderName" placeholder="Card holder name">
                <div *ngIf="creditCardForm.controls['cardHolderName'].invalid && (creditCardForm.controls['cardHolderName'].dirty || creditCardForm.controls['cardHolderName'].touched)"
                    class="error">
                    <div *ngIf="creditCardForm.controls['cardHolderName'].errors.required">
                        Please enter name
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="cardNumber">Card number</label>
                <div class="input-group">
                    <input type="text" class="form-control" mask="0000 0000 0000 0000" formControlName='cardNumber'
                        maxlength="19" placeholder="Card Number">
                    <div class="input-group-append">
                        <span class="input-group-text text-muted">
                            <i class="fa fa-cc-visa mx-1"></i>
                            <i class="fa fa-cc-amex mx-1"></i>
                            <i class="fa fa-cc-mastercard mx-1"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf="creditCardForm.controls['cardNumber'].invalid && (creditCardForm.controls['cardNumber'].dirty || creditCardForm.controls['cardNumber'].touched)"
                    class="error">
                    <div *ngIf="creditCardForm.controls['cardNumber'].errors.required">
                        Please enter card number
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label><span class="hidden-xs">Expiration</span></label>
                        <div class="input-group">
                            <p-calendar class="expire-date" required placeholder="MM/YYYY" view="month"
                                formControlName='expiryDate' monthNavigator='true' [minDate]='todayDate'
                                dateFormat="mm/yy" [yearNavigator]="true" yearRange="2020:2050"></p-calendar>
                        </div>
                        <div *ngIf="creditCardForm.controls['expiryDate'].invalid && (creditCardForm.controls['expiryDate'].dirty || creditCardForm.controls['expiryDate'].touched)"
                            class="error">
                            <div *ngIf="creditCardForm.controls['expiryDate'].errors.required">
                                Please enter expire date
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group mb-4">
                        <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                        </label>
                        <input type="text" class="form-control" mask="000" formControlName='cvv' maxlength="3"
                            placeholder="CVV">

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group mb-4">
                        <label data-toggle="tooltip" title="Three-digits code on the back of your card">Price
                        </label>
                        <input type="text" class="form-control" formControlName='price' maxlength="10"
                            placeholder="Price">
                        <div *ngIf="creditCardForm.controls['price'].invalid && (creditCardForm.controls['price'].dirty || creditCardForm.controls['price'].touched)"
                            class="error">
                            <div *ngIf="creditCardForm.controls['price'].errors.required">
                                Please enter price
                            </div>
                            <div *ngIf="creditCardForm.controls['price'].errors.pattern">
                                Please enter valid price
                            </div>
                        </div>

                    </div>
                </div>
                <button type='submit' [disabled]="creditCardForm.invalid || loading" (click)='saveData()' type="button"
                    class="subscribe btn btn-primary btn-block rounded-pill shadow-sm"> Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">
    <img id="loadin-image" src="assets/loading.gif">
</div>